{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Copper Penny</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body id="bg" style="background-image: url('{% static "assets/8.JPG" %}')";>

        <h1>Copper Penny</h1>
        <h1>Photography Gallery</h1>
        
        <div class="sidebar">
            <a class="active" href="{% url 'home' %}">Home</a>
            <a class="active" href="{% url 'about' %}">About</a>
            <a class="active" href="{% url 'contact' %}">Contact</a>
            <a class="active" href="{% url 'portfolio' %}">Writing Portfolio</a>
            <a class="active" href="{% url 'gallery' %}">Photography Gallery</a>
        </div>

        <div class="content">
            <div class="container">
                <p>
                    This page is currently empty of photos as I have yet to add any photos to my website.
                </p>
            </div>
        </div>

    </body>

</html>