{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Copper Penny</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body id="bg" style="background-image: url('{% static "assets/photos/southwest/39.JPG" %}')";>

        <h1>Copper Penny</h1>
        <h1>Photography Gallery</h1>
        
        <div class="sidebar">
            <a class="active" href="{% url 'home' %}">Home</a>
            <a class="active" href="{% url 'about' %}">About</a>
            <a class="active" href="{% url 'contact' %}">Contact</a>
            <a class="active" href="{% url 'portfolio' %}">Writing Portfolio</a>
            <a class="active" href="{% url 'gallery' %}">Photography Gallery</a>
        </div>

        <div class="content">
            <div class="container">
                <p>
                    <h2>American Southwest</h2>
                    <ul> 
                        <li><img src="{% static 'assets/photos/southwest/1.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/2.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/3.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/4.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/5.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/6.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/7.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/8.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/9.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/10.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/11.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/12.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/13.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/14.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/15.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/16.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/17.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/18.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/19.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/20.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/21.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/22.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/23.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/24.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/25.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/26.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/27.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/28.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/29.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/30.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/31.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/32.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/33.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/34.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/35.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/36.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/37.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/38.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/39.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/40.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/41.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/42.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/43.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/44.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/45.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/46.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/47.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/48.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/48.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/50.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/51.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/52.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/53.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/54.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/55.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/56.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/57.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/58.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/59.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/60.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/61.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/62.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/63.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/64.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/65.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/66.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/67.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/68.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/69.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/70.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/71.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/72.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/73.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/74.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/75.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/76.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/77.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/78.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/79.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/80.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/81.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/82.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/83.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/84.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/85.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/86.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/87.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/88.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/89.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/90.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/91.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/92.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/93.JPG' %}"></li>
                        <li><img src="{% static 'assets/photos/southwest/94.JPG' %}"></li>
                    </ul>
                </p>
            </div>
        </div>

    </body>

</html>