{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Copper Penny</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body id="bg" style="background-image: url('{% static "assets/photos/8.JPG" %}')";>

        <h1>Copper Penny</h1>
        <h1>Writing Portfolio</h1>
        
        <div class="sidebar">
            <a class="active" href="{% url 'home' %}">Home</a>
            <a class="active" href="{% url 'about' %}">About</a>
            <a class="active" href="{% url 'contact' %}">Contact</a>
            <a class="active" href="{% url 'portfolio' %}">Writing Portfolio</a>
            <a class="active" href="{% url 'gallery' %}">Photography Gallery</a>
        </div>

        <div class="content">
            <iframe class="pdf" 
                src={% static "assets/Using-Game-Development-to-Teach-C#.pdf" %} width="1000" height="900">
            </iframe> <br> <br>

            <iframe class="pdf" 
                    src={% static "assets/Facebook-Research-App-Violates-Apple-Privacy-Policy.pdf" %} width="1000" height="900">
            </iframe> <br><br>
        </div>

    </body>

</html>